/* Nav.css */
.nav-header {
    display: flex;
    justify-content: center; /* Centers the links horizontally */
    background-color: #f8f9fa; /* Example background color */
    padding: 10px 0;
}

.nav-link {
    margin: 0 10px; /* Adjust spacing between links */
    text-decoration: none;
    color: #007bff; /* Example link color */
}

.nav-link:hover {
    color: #0056b3; /* Example hover color */
}
